.search {
  background-color: #fff;
  border: none;
  width: 100%;
  font-size: 21px;
  outline: none;
  margin-left: 20px;
}

.search_box {
  border-radius: 10px;
  padding: 20px 20px;
  background-color: #fff;
  display: flex;
}

.search_icon svg {
  vertical-align: middle;
}