.contact_list_item {
  width: 100%;
  align-items: center;
  display: flex;
  padding: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: #e2e2e2;
  }
}

.contact_checkbox {
  margin-right: 15px;
}

.contact_full_name, .contact_company, .contact_email, .contact_phone {
  margin: 0 20px;
  font-weight: 600;
  max-width: 150px;
  width: 100%;
}

.contact_email {
  max-width: 200px;
}